################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/02-Bubble/02-Bubble.VC.VC.opendb
/02-Bubble/02-Bubble/Debug/02-Bubble.tlog/CL.read.1.tlog
/02-Bubble/02-Bubble/Debug/02-Bubble.tlog/02-Bubble.lastbuildstate
/02-Bubble/02-Bubble/Debug/02-Bubble.tlog/CL.command.1.tlog
/02-Bubble/02-Bubble/Debug/02-Bubble.tlog/CL.write.1.tlog
/02-Bubble/02-Bubble/Debug/02-Bubble.tlog/unsuccessfulbuild
/02-Bubble/02-Bubble/Debug/02-Bubble.log
/02-Bubble/02-Bubble/Debug/vc140.idb
/02-Bubble/02-Bubble/Debug/vc140.pdb
/02-Bubble/.vs/02-Bubble/v14/.suo
/02-Bubble/02-Bubble.VC.db
/libs/freeglut/bin/freeglut.dll
/libs/freeglut/include/GL/freeglut.h
/libs/freeglut/include/GL/freeglut_ext.h
/libs/freeglut/include/GL/freeglut_std.h
/libs/freeglut/include/GL/glut.h
/libs/freeglut/lib/freeglut.lib
/libs/freeglut/Copying.txt
/libs/freeglut/Readme.txt
/libs/freetype-2.3.5-1-bin/bin/freetype-config
/libs/freetype-2.3.5-1-bin/bin/freetype6.dll
/libs/freetype-2.3.5-1-bin/include/freetype2/freetype/config/ftconfig.h
/libs/freetype-2.3.5-1-bin/include/freetype2/freetype/config/ftheader.h
/libs/freetype-2.3.5-1-bin/include/freetype2/freetype/config/ftmodule.h
/libs/freetype-2.3.5-1-bin/include/freetype2/freetype/config/ftoption.h
/libs/freetype-2.3.5-1-bin/include/freetype2/freetype/config/ftstdlib.h
/libs/freetype-2.3.5-1-bin/include/freetype2/freetype/freetype.h
/libs/freetype-2.3.5-1-bin/include/freetype2/freetype/ftbbox.h
/libs/freetype-2.3.5-1-bin/include/freetype2/freetype/ftbdf.h
/libs/freetype-2.3.5-1-bin/include/freetype2/freetype/ftbitmap.h
/libs/freetype-2.3.5-1-bin/include/freetype2/freetype/ftcache.h
/libs/freetype-2.3.5-1-bin/include/freetype2/freetype/ftchapters.h
/libs/freetype-2.3.5-1-bin/include/freetype2/freetype/fterrdef.h
/libs/freetype-2.3.5-1-bin/include/freetype2/freetype/fterrors.h
/libs/freetype-2.3.5-1-bin/include/freetype2/freetype/ftgasp.h
/libs/freetype-2.3.5-1-bin/include/freetype2/freetype/ftglyph.h
/libs/freetype-2.3.5-1-bin/include/freetype2/freetype/ftgxval.h
/libs/freetype-2.3.5-1-bin/include/freetype2/freetype/ftimage.h
/libs/freetype-2.3.5-1-bin/include/freetype2/freetype/ftgzip.h
/libs/freetype-2.3.5-1-bin/include/freetype2/freetype/ftincrem.h
/libs/freetype-2.3.5-1-bin/include/freetype2/freetype/ftlcdfil.h
/libs/freetype-2.3.5-1-bin/include/freetype2/freetype/ftlist.h
/libs/freetype-2.3.5-1-bin/include/freetype2/freetype/ftlzw.h
/libs/freetype-2.3.5-1-bin/include/freetype2/freetype/ftmac.h
/libs/freetype-2.3.5-1-bin/include/freetype2/freetype/ftmm.h
/libs/freetype-2.3.5-1-bin/include/freetype2/freetype/ftmodapi.h
/libs/freetype-2.3.5-1-bin/include/ft2build.h
/libs/freetype-2.3.5-1-bin/include/freetype2/freetype/ttunpat.h
/libs/freetype-2.3.5-1-bin/include/freetype2/freetype/tttags.h
/libs/freetype-2.3.5-1-bin/include/freetype2/freetype/tttables.h
/libs/freetype-2.3.5-1-bin/include/freetype2/freetype/ttnameid.h
/libs/freetype-2.3.5-1-bin/include/freetype2/freetype/t1tables.h
/libs/freetype-2.3.5-1-bin/include/freetype2/freetype/ftxf86.h
/libs/freetype-2.3.5-1-bin/include/freetype2/freetype/ftwinfnt.h
/libs/freetype-2.3.5-1-bin/include/freetype2/freetype/fttypes.h
/libs/freetype-2.3.5-1-bin/include/freetype2/freetype/fttrigon.h
/libs/freetype-2.3.5-1-bin/include/freetype2/freetype/ftsystem.h
/libs/freetype-2.3.5-1-bin/include/freetype2/freetype/ftsynth.h
/libs/freetype-2.3.5-1-bin/include/freetype2/freetype/ftstroke.h
/libs/freetype-2.3.5-1-bin/include/freetype2/freetype/ftsnames.h
/libs/freetype-2.3.5-1-bin/include/freetype2/freetype/ftsizes.h
/libs/freetype-2.3.5-1-bin/include/freetype2/freetype/ftrender.h
/libs/freetype-2.3.5-1-bin/include/freetype2/freetype/ftpfr.h
/libs/freetype-2.3.5-1-bin/include/freetype2/freetype/ftoutln.h
/libs/freetype-2.3.5-1-bin/include/freetype2/freetype/ftotval.h
/libs/freetype-2.3.5-1-bin/include/freetype2/freetype/ftmoderr.h
/libs/freetype-2.3.5-1-bin/lib/pkgconfig/freetype2.pc
/libs/freetype-2.3.5-1-bin/lib/libfreetype.dll.a
/libs/freetype-2.3.5-1-bin/lib/freetype6.def
/libs/freetype-2.3.5-1-bin/lib/freetype.lib
/libs/freetype-2.3.5-1-bin/lib/freetype-bcc.lib
/libs/glew-1.13.0/bin/Release/Win32/glew32.dll
/libs/glew-1.13.0/include/GL/wglew.h
/libs/glew-1.13.0/include/GL/glxew.h
/libs/glew-1.13.0/include/GL/glew.h
/libs/glew-1.13.0/TODO.txt
/libs/glew-1.13.0/README.txt
/libs/glew-1.13.0/LICENSE.txt
/libs/glew-1.13.0/lib/Release/Win32/glew32.lib
/libs/glm/cmake/glmConfig.cmake.in
/libs/glm/cmake/glmBuildConfig.cmake.in
/libs/glm/glm/detail/_vectorize.hpp
/libs/glm/glm/detail/_swizzle_func.hpp
/libs/glm/glm/detail/_swizzle.hpp
/libs/glm/glm/detail/_noise.hpp
/libs/glm/glm/detail/_fixes.hpp
/libs/glm/glm/detail/_features.hpp
/libs/glm/glm/detail/type_vec4_sse2.inl
/libs/glm/glm/detail/type_vec4_avx2.inl
/libs/glm/glm/detail/type_vec4_avx.inl
/libs/glm/glm/detail/type_vec4.inl
/libs/glm/glm/detail/type_vec4.hpp
/libs/glm/glm/detail/type_vec3.inl
/libs/glm/glm/detail/type_vec3.hpp
/libs/glm/glm/detail/type_vec2.inl
/libs/glm/glm/detail/type_vec2.hpp
/libs/glm/glm/detail/type_vec1.inl
/libs/glm/glm/detail/type_vec1.hpp
/libs/glm/glm/detail/type_vec.inl
/libs/glm/glm/detail/type_vec.hpp
/libs/glm/glm/detail/type_mat4x4.inl
/libs/glm/glm/detail/type_mat4x4.hpp
/libs/glm/glm/detail/type_mat4x3.inl
/libs/glm/glm/detail/type_mat4x3.hpp
/libs/glm/glm/detail/type_mat4x2.inl
/libs/glm/glm/detail/type_mat4x2.hpp
/libs/glm/glm/detail/type_mat3x4.inl
/libs/glm/glm/detail/type_mat3x4.hpp
/libs/glm/glm/detail/type_mat3x3.inl
/libs/glm/glm/detail/type_mat3x3.hpp
/libs/glm/glm/detail/type_mat3x2.inl
/libs/glm/glm/detail/type_mat3x2.hpp
/libs/glm/glm/detail/type_mat2x4.inl
/libs/glm/glm/detail/type_mat2x4.hpp
/libs/glm/glm/detail/type_mat2x3.inl
/libs/glm/glm/detail/type_mat2x3.hpp
/libs/glm/glm/detail/type_mat2x2.inl
/libs/glm/glm/detail/type_mat2x2.hpp
/libs/glm/glm/detail/type_mat.inl
/libs/glm/glm/detail/type_mat.hpp
/libs/glm/glm/detail/type_int.hpp
/libs/glm/glm/detail/type_half.inl
/libs/glm/glm/detail/type_half.hpp
/libs/glm/glm/detail/type_gentype.inl
/libs/glm/glm/detail/type_gentype.hpp
/libs/glm/glm/detail/type_float.hpp
/libs/glm/glm/detail/setup.hpp
/libs/glm/glm/detail/precision.hpp
/libs/glm/glm/detail/intrinsic_vector_relational.inl
/libs/glm/glm/detail/intrinsic_vector_relational.hpp
/libs/glm/glm/detail/intrinsic_trigonometric.inl
/libs/glm/glm/detail/intrinsic_trigonometric.hpp
/libs/glm/glm/detail/intrinsic_matrix.inl
/libs/glm/glm/detail/intrinsic_matrix.hpp
/libs/glm/glm/detail/intrinsic_integer.inl
/libs/glm/glm/detail/intrinsic_integer.hpp
/libs/glm/glm/detail/intrinsic_geometric.inl
/libs/glm/glm/detail/intrinsic_geometric.hpp
/libs/glm/glm/detail/intrinsic_exponential.inl
/libs/glm/glm/detail/intrinsic_exponential.hpp
/libs/glm/glm/detail/intrinsic_common.inl
/libs/glm/glm/detail/intrinsic_common.hpp
/libs/glm/glm/detail/glm.cpp
/libs/glm/glm/detail/func_vector_relational.inl
/libs/glm/glm/detail/func_vector_relational.hpp
/libs/glm/glm/detail/func_trigonometric.inl
/libs/glm/glm/detail/func_trigonometric.hpp
/libs/glm/glm/detail/func_packing.inl
/libs/glm/glm/detail/func_packing.hpp
/libs/glm/glm/detail/func_matrix.inl
/libs/glm/glm/detail/func_matrix.hpp
/libs/glm/glm/detail/func_integer.inl
/libs/glm/glm/detail/func_integer.hpp
/libs/glm/glm/detail/func_geometric.inl
/libs/glm/glm/detail/func_geometric.hpp
/libs/glm/glm/detail/func_exponential.inl
/libs/glm/glm/detail/func_exponential.hpp
/libs/glm/glm/detail/func_common.inl
/libs/glm/glm/detail/func_common.hpp
/libs/glm/glm/detail/dummy.cpp
/libs/glm/glm/gtc
/libs/glm/glm/gtx
/libs
