################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/02-Bubble/02-Bubble/Debug/02-Bubble.tlog/CL.read.1.tlog
