################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/02-Bubble/02-Bubble.VC.VC.opendb
